# VS Code settings
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
out/

# Dependencies
node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Java
*.class

# Misc
.cache/
.temp/
